body{
    margin: 0 auto;
    text-align: center;
}
h2{
    font-size: larger;
    font-weight: 800;
}
.contents{
    width: 60vw;
    margin: 0 auto;
}
.main{
    font-size: small;
    font-weight: 400;
    color: #333;
}
a{
    display: block;
}
img{
    width: 80px;
    height: 80px;
}